@{title('Floor')}


<h1>Floor</h1>

<h2 style="text-align: center; margin-bottom: 5%">If you are feeling unwell, please press your workers ID, and you will be registered as sick</h2>

<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker()"/><span class="reference-title"><b>Floor 1</b><div id="counter"></div></span></a>
	</div>
	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker2()"/><span class="reference-title"><b>Floor 2</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker3()"/><span class="reference-title"><b>Floor 3</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker4()"/><span class="reference-title"><b>Floor 4</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker5()"/><span class="reference-title"><b>Floor 5</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker6()"/><span class="reference-title"><b>Floor 6</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker7()"/><span class="reference-title"><b>Floor 7</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker8()"/><span class="reference-title"><b>Floor 8</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker9()"/><span class="reference-title"><b>Floor 9</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker10()"/><span class="reference-title"><b>Floor 10</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker11()"/><span class="reference-title"><b>Floor 11</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker12()"/><span class="reference-title"><b>Floor 12</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker13()"/><span class="reference-title"><b>Floor 13</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker14()"/><span class="reference-title"><b>Floor 14</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker15()"/><span class="reference-title"><b>Floor 15</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker16()"/><span class="reference-title"><b>Floor 16</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker17()"/><span class="reference-title"><b>Floor 17</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker18()"/><span class="reference-title"><b>Floor 18</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker19()"/><span class="reference-title"><b>Floor 19</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker20()"/><span class="reference-title"><b>Floor 20</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker21()"/><span class="reference-title"><b>Floor 21</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker22()"/><span class="reference-title"><b>Floor 22</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker23()"/><span class="reference-title"><b>Floor 23</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker24()"/><span class="reference-title"><b>Floor 24</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker25()"/><span class="reference-title"><b>Floor 25</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker26()"/><span class="reference-title"><b>Floor 26</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker27()"/><span class="reference-title"><b>Floor 27</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myFClicker28()"/><span class="reference-title"><b>Floor 28</b></span></a>
	</div>
</div>
<script>
    function myFClicker() {
var n = localStorage.getItem('on_load_counterF1');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF1", n);
    }
     function myFClicker2() {
var n = localStorage.getItem('on_load_counterF2');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF2", n);
    }
         function myFClicker3() {
var n = localStorage.getItem('on_load_counterF3');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF3", n);
    }
         function myFClicker4() {
var n = localStorage.getItem('on_load_counterF4');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF4", n);
    }
         function myFClicker5() {
var n = localStorage.getItem('on_load_counterF5');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF5", n);
    }
         function myFClicker6() {
var n = localStorage.getItem('on_load_counterF6');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF6", n);
    }
         function myFClicker7() {
var n = localStorage.getItem('on_load_counterF7');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF7", n);
    }
         function myFClicker8() {
var n = localStorage.getItem('on_load_counterF8');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF8", n);
    }
         function myFClicker9() {
var n = localStorage.getItem('on_load_counterF9');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF9", n);
    }
         function myFClicker10() {
var n = localStorage.getItem('on_load_counterF10');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF10", n);
    }
         function myFClicker11() {
var n = localStorage.getItem('on_load_counterF11');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF11", n);
    }
         function myFClicker12() {
var n = localStorage.getItem('on_load_counterF12');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF12", n);
    }
         function myFClicker13() {
var n = localStorage.getItem('on_load_counterF13');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF13", n);
    }
         function myFClicker14() {
var n = localStorage.getItem('on_load_counterF14');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF14", n);
    }
         function myFClicker15() {
var n = localStorage.getItem('on_load_counterF15');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF15", n);
    }
         function myFClicker16() {
var n = localStorage.getItem('on_load_counterF16');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF16", n);
    }
         function myFClicker17() {
var n = localStorage.getItem('on_load_counterF17');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF17", n);
    }
         function myFClicker18() {
var n = localStorage.getItem('on_load_counterF18');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF18", n);
    }
         function myFClicker19() {
var n = localStorage.getItem('on_load_counterF19');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF19", n);
    }
         function myFClicker20() {
var n = localStorage.getItem('on_load_counterF20');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF20", n);
    }
         function myFClicker21() {
var n = localStorage.getItem('on_load_counterF21');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF21", n);
    }
         function myFClicker22() {
var n = localStorage.getItem('on_load_counterF22');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF22", n);
    }
         function myFClicker23() {
var n = localStorage.getItem('on_load_counterF23');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF23", n);
    }
         function myFClicker24() {
var n = localStorage.getItem('on_load_counterF24');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF24", n);
    }
         function myFClicker25() {
var n = localStorage.getItem('on_load_counterF25');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF25", n);
    }
         function myFClicker26() {
var n = localStorage.getItem('on_load_counterF26');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF26", n);
    }
         function myFClicker27() {
var n = localStorage.getItem('on_load_counterF27');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF27", n);
    }
         function myFClicker28() {
var n = localStorage.getItem('on_load_counterF28');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counterF28", n);
    }
    
</script>