@{title('Homepage')}

<h1>Welcome to the registry for sickness and/or absence</h1>
<h2 style="text-align: center; margin-bottom: 5%">Please select your division</h2>
<div class="row">
	<div class="col-md-4 col-sm-4 m">
		<a href="/floor/"><img src="/img/001.jpg" border="0" alt="Eshop" class="img-responsive img-rounded" /></a>
	</div>
	<div class="col-md-4 col-sm-4 m">
		<a href="/office/"><img src="/img/002.jpg" border="0" alt="Easy modifications" class="img-responsive img-rounded" /></a>
	</div>
	<div class="col-md-4 col-sm-4 m">
		<a href="/storage/"><img src="/img/003.jpg" border="0" alt="Redesign it" class="img-responsive img-rounded" /></a>
	</div>
</div>
</div>