@{title('Office')}

<h1>Office</h1>

<h2 style="text-align: center; margin-bottom: 5%">If you are feeling unwell, please press your workers ID, and you will be registered as sick</h2>

<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker()"/><span class="reference-title"><b>Office 1</b><div id="counter"></div></span></a>
	</div>
	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker2()"/><span class="reference-title"><b>Office 2</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker3()"/><span class="reference-title"><b>Office 3</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker4()"/><span class="reference-title"><b>Office 4</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker5()"/><span class="reference-title"><b>Office 5</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker6()"/><span class="reference-title"><b>Office 6</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker7()"/><span class="reference-title"><b>Office 7</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker8()"/><span class="reference-title"><b>Office 8</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker9()"/><span class="reference-title"><b>Office 9</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker10()"/><span class="reference-title"><b>Office 10</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker11()"/><span class="reference-title"><b>Office 11</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker12()"/><span class="reference-title"><b>Office 12</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker13()"/><span class="reference-title"><b>Office 13</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker14()"/><span class="reference-title"><b>Office 14</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker15()"/><span class="reference-title"><b>Office 15</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker16()"/><span class="reference-title"><b>Office 16</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker17()"/><span class="reference-title"><b>Office 17</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker18()"/><span class="reference-title"><b>Office 18</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker19()"/><span class="reference-title"><b>Office 19</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker20()"/><span class="reference-title"><b>Office 20</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker21()"/><span class="reference-title"><b>Office 21</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker22()"/><span class="reference-title"><b>Office 22</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker23()"/><span class="reference-title"><b>Office 23</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker24()"/><span class="reference-title"><b>Office 24</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker25()"/><span class="reference-title"><b>Office 25</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker26()"/><span class="reference-title"><b>Office 26</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker27()"/><span class="reference-title"><b>Office 27</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="myClicker28()"/><span class="reference-title"><b>Office 28</b></span></a>
	</div>
</div>
<script>
    function myClicker() {
var n = localStorage.getItem('on_load_counter1');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter1", n);
    }
     function myClicker2() {
var n = localStorage.getItem('on_load_counter2');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter2", n);
    }
         function myClicker3() {
var n = localStorage.getItem('on_load_counter3');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter3", n);
    }
         function myClicker4() {
var n = localStorage.getItem('on_load_counter4');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter4", n);
    }
         function myClicker5() {
var n = localStorage.getItem('on_load_counter5');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter5", n);
    }
         function myClicker6() {
var n = localStorage.getItem('on_load_counter6');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter6", n);
    }
         function myClicker7() {
var n = localStorage.getItem('on_load_counter7');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter7", n);
    }
         function myClicker8() {
var n = localStorage.getItem('on_load_counter8');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter8", n);
    }
         function myClicker9() {
var n = localStorage.getItem('on_load_counter9');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter9", n);
    }
         function myClicker10() {
var n = localStorage.getItem('on_load_counter10');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter10", n);
    }
         function myClicker11() {
var n = localStorage.getItem('on_load_counter11');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter11", n);
    }
         function myClicker12() {
var n = localStorage.getItem('on_load_counter12');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter12", n);
    }
         function myClicker13() {
var n = localStorage.getItem('on_load_counter13');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter13", n);
    }
         function myClicker14() {
var n = localStorage.getItem('on_load_counter14');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter14", n);
    }
         function myClicker15() {
var n = localStorage.getItem('on_load_counter15');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter15", n);
    }
         function myClicker16() {
var n = localStorage.getItem('on_load_counter16');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter16", n);
    }
         function myClicker17() {
var n = localStorage.getItem('on_load_counter17');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter17", n);
    }
         function myClicker18() {
var n = localStorage.getItem('on_load_counter18');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter18", n);
    }
         function myClicker19() {
var n = localStorage.getItem('on_load_counter19');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter19", n);
    }
         function myClicker20() {
var n = localStorage.getItem('on_load_counter20');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter20", n);
    }
         function myClicker21() {
var n = localStorage.getItem('on_load_counter21');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter21", n);
    }
         function myClicker22() {
var n = localStorage.getItem('on_load_counter22');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter22", n);
    }
         function myClicker23() {
var n = localStorage.getItem('on_load_counter23');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter23", n);
    }
         function myClicker24() {
var n = localStorage.getItem('on_load_counter24');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter24", n);
    }
         function myClicker25() {
var n = localStorage.getItem('on_load_counter25');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter25", n);
    }
         function myClicker26() {
var n = localStorage.getItem('on_load_counter26');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter26", n);
    }
         function myClicker27() {
var n = localStorage.getItem('on_load_counter27');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter27", n);
    }
         function myClicker28() {
var n = localStorage.getItem('on_load_counter28');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counter28", n);
    }
    
</script>