@{title('Storage')}


<h1>Storage</h1>

<h2 style="text-align: center; margin-bottom: 5%">If you are feeling unwell, please press your workers ID, and you will be registered as sick</h2>

<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker()"/><span class="reference-title"><b>Storage 1</b></span></a>
	</div>
	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker2()"/><span class="reference-title"><b>Storage 2</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker3()"/><span class="reference-title"><b>Storage 3</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker4()"/><span class="reference-title"><b>Storage 4</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker5()"/><span class="reference-title"><b>Storage 5</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker6()"/><span class="reference-title"><b>Storage 6</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker7()"/><span class="reference-title"><b>Storage 7</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker8()"/><span class="reference-title"><b>Storage 8</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker9()"/><span class="reference-title"><b>Storage 9</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker10()"/><span class="reference-title"><b>Storage 10</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker11()"/><span class="reference-title"><b>Storage 11</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker12()"/><span class="reference-title"><b>Storage 12</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker13()"/><span class="reference-title"><b>Storage 13</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker14()"/><span class="reference-title"><b>Storage 14</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker15()"/><span class="reference-title"><b>Storage 15</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker16()"/><span class="reference-title"><b>Storage 16</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker17()"/><span class="reference-title"><b>Storage 17</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker18()"/><span class="reference-title"><b>Storage 18</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker19()"/><span class="reference-title"><b>Storage 19</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker20()"/><span class="reference-title"><b>Storage 20</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker21()"/><span class="reference-title"><b>Storage 21</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker22()"/><span class="reference-title"><b>Storage 22</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker23()"/><span class="reference-title"><b>Storage 23</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker24()"/><span class="reference-title"><b>Storage 24</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker25()"/><span class="reference-title"><b>Storage 25</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker26()"/><span class="reference-title"><b>Storage 26</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker27()"/><span class="reference-title"><b>Storage 27</b></span></a>
	</div>	
	<div class="col-md-3 col-sm-6 col-xs-6 reference">
		<a href="#"><img src="/img/reference.png" class="img-responsive" alt="" border="0" onclick="mysClicker28()"/><span class="reference-title"><b>Storage 28</b></span></a>
	</div>
</div>
<script>
    function mysClicker() {
var n = localStorage.getItem('on_load_counters1');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters1", n);
    }
     function mysClicker2() {
var n = localStorage.getItem('on_load_counters2');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters2", n);
    }
         function mysClicker3() {
var n = localStorage.getItem('on_load_counters3');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters3", n);
    }
         function mysClicker4() {
var n = localStorage.getItem('on_load_counters4');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters4", n);
    }
         function mysClicker5() {
var n = localStorage.getItem('on_load_counters5');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters5", n);
    }
         function mysClicker6() {
var n = localStorage.getItem('on_load_counters6');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters6", n);
    }
         function mysClicker7() {
var n = localStorage.getItem('on_load_counters7');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters7", n);
    }
         function mysClicker8() {
var n = localStorage.getItem('on_load_counters8');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters8", n);
    }
         function mysClicker9() {
var n = localStorage.getItem('on_load_counters9');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters9", n);
    }
         function mysClicker10() {
var n = localStorage.getItem('on_load_counters10');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters10", n);
    }
         function mysClicker11() {
var n = localStorage.getItem('on_load_counters11');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters11", n);
    }
         function mysClicker12() {
var n = localStorage.getItem('on_load_counters12');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters12", n);
    }
         function mysClicker13() {
var n = localStorage.getItem('on_load_counters13');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters13", n);
    }
         function mysClicker14() {
var n = localStorage.getItem('on_load_counters14');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters14", n);
    }
         function mysClicker15() {
var n = localStorage.getItem('on_load_counters15');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters15", n);
    }
         function mysClicker16() {
var n = localStorage.getItem('on_load_counters16');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters16", n);
    }
         function mysClicker17() {
var n = localStorage.getItem('on_load_counters17');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters17", n);
    }
         function mysClicker18() {
var n = localStorage.getItem('on_load_counters18');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters18", n);
    }
         function mysClicker19() {
var n = localStorage.getItem('on_load_counters19');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters19", n);
    }
         function mysClicker20() {
var n = localStorage.getItem('on_load_counters20');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters20", n);
    }
         function mysClicker21() {
var n = localStorage.getItem('on_load_counters21');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters21", n);
    }
         function mysClicker22() {
var n = localStorage.getItem('on_load_counters22');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters22", n);
    }
         function mysClicker23() {
var n = localStorage.getItem('on_load_counters23');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters23", n);
    }
         function mysClicker24() {
var n = localStorage.getItem('on_load_counters24');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters24", n);
    }
         function mysClicker25() {
var n = localStorage.getItem('on_load_counters25');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters25", n);
    }
         function mysClicker26() {
var n = localStorage.getItem('on_load_counters26');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters26", n);
    }
         function mysClicker27() {
var n = localStorage.getItem('on_load_counters27');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters27", n);
    }
         function mysClicker28() {
var n = localStorage.getItem('on_load_counters28');
 
if (n === null) {
    n = 0;
}
 
n++;
 
localStorage.setItem("on_load_counters28", n);
    }
    
</script>